.#{$prefix}boundlist {
    border-width: $boundlist-border-width;
    border-style: $boundlist-border-style;
    border-color: $boundlist-border-color;
    background: $boundlist-background-color;
}

.#{$prefix}boundlist-item {
    padding: $boundlist-item-padding;
    font: $boundlist-item-font-weight $boundlist-item-font-size $boundlist-item-font-family;
    @if not is-null($boundlist-item-height) {
        line-height: $boundlist-item-height - vertical($boundlist-item-border-width) - vertical($boundlist-item-padding);
    }

    cursor: pointer;
    cursor: hand;
    position: relative; /*allow hover in IE on empty items*/

    border-width: $boundlist-item-border-width;
    border-style: $boundlist-item-border-style;
    border-color: $boundlist-item-border-color;
    color: $boundlist-item-text-color;    
    white-space: nowrap;
}

.#{$prefix}boundlist-selected {
    @if $boundlist-item-selected-text-color != $boundlist-item-text-color {
        color: $boundlist-item-text-color;
    }
    background: $boundlist-item-selected-background-color;
    border-color: $boundlist-item-selected-border-color;
    display: inline-block;
}

.#{$prefix}boundlist-item-over {
    @if $boundlist-item-over-text-color != $boundlist-item-text-color or
            $boundlist-item-over-text-color != $boundlist-item-selected-text-color {
        color: $boundlist-item-over-text-color;
    }
    background: $boundlist-item-over-background-color;
    border-color: $boundlist-item-over-border-color;
    white-space: normal;
}

.#{$prefix}boundlist-floating {
    border-top-width: 0;
}

.#{$prefix}boundlist-above {
    border-top-width: 1px;
    border-bottom-width: 1px;
}