// Variables
// --------------------------


$fa-font-path:                "../fonts" !default;
$fa-font-size-base:           16px !default;
$fa-font-display:             auto;
$fa-css-prefix:               fa !default;
$fa-version:                  "5.7.1" !default;
$fa-border-color:             #eee !default;
$fa-inverse:                  #fff !default;
$fa-li-width:                 2em !default;
$fa-fw-width:                 (20em / 16);

// Convenience function used to set content property

$fa-var-500px: "\f26e" !important;
$fa-var-accessible-icon: "\f368" !important;
$fa-var-accusoft: "\f369" !important;
$fa-var-acquisitions-incorporated: "\f6af" !important;
$fa-var-ad: "\f641" !important;
$fa-var-address-book: "\f2b9" !important;
$fa-var-address-card: "\f2bb" !important;
$fa-var-adjust: "\f042" !important;
$fa-var-adn: "\f170" !important;
$fa-var-adobe: "\f778" !important;
$fa-var-adversal: "\f36a" !important;
$fa-var-affiliatetheme: "\f36b" !important;
$fa-var-air-freshener: "\f5d0" !important;
$fa-var-algolia: "\f36c" !important;
$fa-var-align-center: "\f037" !important;
$fa-var-align-justify: "\f039" !important;
$fa-var-align-left: "\f036" !important;
$fa-var-align-right: "\f038" !important;
$fa-var-alipay: "\f642" !important;
$fa-var-allergies: "\f461" !important;
$fa-var-amazon: "\f270" !important;
$fa-var-amazon-pay: "\f42c" !important;
$fa-var-ambulance: "\f0f9" !important;
$fa-var-american-sign-language-interpreting: "\f2a3" !important;
$fa-var-amilia: "\f36d" !important;
$fa-var-anchor: "\f13d" !important;
$fa-var-android: "\f17b" !important;
$fa-var-angellist: "\f209" !important;
$fa-var-angle-double-down: "\f103" !important;
$fa-var-angle-double-left: "\f100" !important;
$fa-var-angle-double-right: "\f101" !important;
$fa-var-angle-double-up: "\f102" !important;
$fa-var-angle-down: "\f107" !important;
$fa-var-angle-left: "\f104" !important;
$fa-var-angle-right: "\f105" !important;
$fa-var-angle-up: "\f106" !important;
$fa-var-angry: "\f556" !important;
$fa-var-angrycreative: "\f36e" !important;
$fa-var-angular: "\f420" !important;
$fa-var-ankh: "\f644" !important;
$fa-var-app-store: "\f36f" !important;
$fa-var-app-store-ios: "\f370" !important;
$fa-var-apper: "\f371" !important;
$fa-var-apple: "\f179" !important;
$fa-var-apple-alt: "\f5d1" !important;
$fa-var-apple-pay: "\f415" !important;
$fa-var-archive: "\f187" !important;
$fa-var-archway: "\f557" !important;
$fa-var-arrow-alt-circle-down: "\f358" !important;
$fa-var-arrow-alt-circle-left: "\f359" !important;
$fa-var-arrow-alt-circle-right: "\f35a" !important;
$fa-var-arrow-alt-circle-up: "\f35b" !important;
$fa-var-arrow-circle-down: "\f0ab" !important;
$fa-var-arrow-circle-left: "\f0a8" !important;
$fa-var-arrow-circle-right: "\f0a9" !important;
$fa-var-arrow-circle-up: "\f0aa" !important;
$fa-var-arrow-down: "\f063" !important;
$fa-var-arrow-left: "\f060" !important;
$fa-var-arrow-right: "\f061" !important;
$fa-var-arrow-up: "\f062" !important;
$fa-var-arrows-alt: "\f0b2" !important;
$fa-var-arrows-alt-h: "\f337" !important;
$fa-var-arrows-alt-v: "\f338" !important;
$fa-var-artstation: "\f77a" !important;
$fa-var-assistive-listening-systems: "\f2a2" !important;
$fa-var-asterisk: "\f069" !important;
$fa-var-asymmetrik: "\f372" !important;
$fa-var-at: "\f1fa" !important;
$fa-var-atlas: "\f558" !important;
$fa-var-atlassian: "\f77b" !important;
$fa-var-atom: "\f5d2" !important;
$fa-var-audible: "\f373" !important;
$fa-var-audio-description: "\f29e" !important;
$fa-var-autoprefixer: "\f41c" !important;
$fa-var-avianex: "\f374" !important;
$fa-var-aviato: "\f421" !important;
$fa-var-award: "\f559" !important;
$fa-var-aws: "\f375" !important;
$fa-var-baby: "\f77c" !important;
$fa-var-baby-carriage: "\f77d" !important;
$fa-var-backspace: "\f55a" !important;
$fa-var-backward: "\f04a" !important;
$fa-var-bacon: "\f7e5" !important;
$fa-var-balance-scale: "\f24e" !important;
$fa-var-ban: "\f05e" !important;
$fa-var-band-aid: "\f462" !important;
$fa-var-bandcamp: "\f2d5" !important;
$fa-var-barcode: "\f02a" !important;
$fa-var-bars: "\f0c9" !important;
$fa-var-baseball-ball: "\f433" !important;
$fa-var-basketball-ball: "\f434" !important;
$fa-var-bath: "\f2cd" !important;
$fa-var-battery-empty: "\f244" !important;
$fa-var-battery-full: "\f240" !important;
$fa-var-battery-half: "\f242" !important;
$fa-var-battery-quarter: "\f243" !important;
$fa-var-battery-three-quarters: "\f241" !important;
$fa-var-bed: "\f236" !important;
$fa-var-beer: "\f0fc" !important;
$fa-var-behance: "\f1b4" !important;
$fa-var-behance-square: "\f1b5" !important;
$fa-var-bell: "\f0f3" !important;
$fa-var-bell-slash: "\f1f6" !important;
$fa-var-bezier-curve: "\f55b" !important;
$fa-var-bible: "\f647" !important;
$fa-var-bicycle: "\f206" !important;
$fa-var-bimobject: "\f378" !important;
$fa-var-binoculars: "\f1e5" !important;
$fa-var-biohazard: "\f780" !important;
$fa-var-birthday-cake: "\f1fd" !important;
$fa-var-bitbucket: "\f171" !important;
$fa-var-bitcoin: "\f379" !important;
$fa-var-bity: "\f37a" !important;
$fa-var-black-tie: "\f27e" !important;
$fa-var-blackberry: "\f37b" !important;
$fa-var-blender: "\f517" !important;
$fa-var-blender-phone: "\f6b6" !important;
$fa-var-blind: "\f29d" !important;
$fa-var-blog: "\f781" !important;
$fa-var-blogger: "\f37c" !important;
$fa-var-blogger-b: "\f37d" !important;
$fa-var-bluetooth: "\f293" !important;
$fa-var-bluetooth-b: "\f294" !important;
$fa-var-bold: "\f032" !important;
$fa-var-bolt: "\f0e7" !important;
$fa-var-bomb: "\f1e2" !important;
$fa-var-bone: "\f5d7" !important;
$fa-var-bong: "\f55c" !important;
$fa-var-book: "\f02d" !important;
$fa-var-book-dead: "\f6b7" !important;
$fa-var-book-medical: "\f7e6" !important;
$fa-var-book-open: "\f518" !important;
$fa-var-book-reader: "\f5da" !important;
$fa-var-bookmark: "\f02e" !important;
$fa-var-bowling-ball: "\f436" !important;
$fa-var-box: "\f466" !important;
$fa-var-box-open: "\f49e" !important;
$fa-var-boxes: "\f468" !important;
$fa-var-braille: "\f2a1" !important;
$fa-var-brain: "\f5dc" !important;
$fa-var-bread-slice: "\f7ec" !important;
$fa-var-briefcase: "\f0b1" !important;
$fa-var-briefcase-medical: "\f469" !important;
$fa-var-broadcast-tower: "\f519" !important;
$fa-var-broom: "\f51a" !important;
$fa-var-brush: "\f55d" !important;
$fa-var-btc: "\f15a" !important;
$fa-var-bug: "\f188" !important;
$fa-var-building: "\f1ad" !important;
$fa-var-bullhorn: "\f0a1" !important;
$fa-var-bullseye: "\f140" !important;
$fa-var-burn: "\f46a" !important;
$fa-var-buromobelexperte: "\f37f" !important;
$fa-var-bus: "\f207" !important;
$fa-var-bus-alt: "\f55e" !important;
$fa-var-business-time: "\f64a" !important;
$fa-var-buysellads: "\f20d" !important;
$fa-var-calculator: "\f1ec" !important;
$fa-var-calendar: "\f133" !important;
$fa-var-calendar-alt: "\f073" !important;
$fa-var-calendar-check: "\f274" !important;
$fa-var-calendar-day: "\f783" !important;
$fa-var-calendar-minus: "\f272" !important;
$fa-var-calendar-plus: "\f271" !important;
$fa-var-calendar-times: "\f273" !important;
$fa-var-calendar-week: "\f784" !important;
$fa-var-camera: "\f030" !important;
$fa-var-camera-retro: "\f083" !important;
$fa-var-campground: "\f6bb" !important;
$fa-var-canadian-maple-leaf: "\f785" !important;
$fa-var-candy-cane: "\f786" !important;
$fa-var-cannabis: "\f55f" !important;
$fa-var-capsules: "\f46b" !important;
$fa-var-car: "\f1b9" !important;
$fa-var-car-alt: "\f5de" !important;
$fa-var-car-battery: "\f5df" !important;
$fa-var-car-crash: "\f5e1" !important;
$fa-var-car-side: "\f5e4" !important;
$fa-var-caret-down: "\f0d7" !important;
$fa-var-caret-left: "\f0d9" !important;
$fa-var-caret-right: "\f0da" !important;
$fa-var-caret-square-down: "\f150" !important;
$fa-var-caret-square-left: "\f191" !important;
$fa-var-caret-square-right: "\f152" !important;
$fa-var-caret-square-up: "\f151" !important;
$fa-var-caret-up: "\f0d8" !important;
$fa-var-carrot: "\f787" !important;
$fa-var-cart-arrow-down: "\f218" !important;
$fa-var-cart-plus: "\f217" !important;
$fa-var-cash-register: "\f788" !important;
$fa-var-cat: "\f6be" !important;
$fa-var-cc-amazon-pay: "\f42d" !important;
$fa-var-cc-amex: "\f1f3" !important;
$fa-var-cc-apple-pay: "\f416" !important;
$fa-var-cc-diners-club: "\f24c" !important;
$fa-var-cc-discover: "\f1f2" !important;
$fa-var-cc-jcb: "\f24b" !important;
$fa-var-cc-mastercard: "\f1f1" !important;
$fa-var-cc-paypal: "\f1f4" !important;
$fa-var-cc-stripe: "\f1f5" !important;
$fa-var-cc-visa: "\f1f0" !important;
$fa-var-centercode: "\f380" !important;
$fa-var-centos: "\f789" !important;
$fa-var-certificate: "\f0a3" !important;
$fa-var-chair: "\f6c0" !important;
$fa-var-chalkboard: "\f51b" !important;
$fa-var-chalkboard-teacher: "\f51c" !important;
$fa-var-charging-station: "\f5e7" !important;
$fa-var-chart-area: "\f1fe" !important;
$fa-var-chart-bar: "\f080" !important;
$fa-var-chart-line: "\f201" !important;
$fa-var-chart-pie: "\f200" !important;
$fa-var-check: "\f00c" !important;
$fa-var-check-circle: "\f058" !important;
$fa-var-check-double: "\f560" !important;
$fa-var-check-square: "\f14a" !important;
$fa-var-cheese: "\f7ef" !important;
$fa-var-chess: "\f439" !important;
$fa-var-chess-bishop: "\f43a" !important;
$fa-var-chess-board: "\f43c" !important;
$fa-var-chess-king: "\f43f" !important;
$fa-var-chess-knight: "\f441" !important;
$fa-var-chess-pawn: "\f443" !important;
$fa-var-chess-queen: "\f445" !important;
$fa-var-chess-rook: "\f447" !important;
$fa-var-chevron-circle-down: "\f13a" !important;
$fa-var-chevron-circle-left: "\f137" !important;
$fa-var-chevron-circle-right: "\f138" !important;
$fa-var-chevron-circle-up: "\f139" !important;
$fa-var-chevron-down: "\f078" !important;
$fa-var-chevron-left: "\f053" !important;
$fa-var-chevron-right: "\f054" !important;
$fa-var-chevron-up: "\f077" !important;
$fa-var-child: "\f1ae" !important;
$fa-var-chrome: "\f268" !important;
$fa-var-church: "\f51d" !important;
$fa-var-circle: "\f111" !important;
$fa-var-circle-notch: "\f1ce" !important;
$fa-var-city: "\f64f" !important;
$fa-var-clinic-medical: "\f7f2" !important;
$fa-var-clipboard: "\f328" !important;
$fa-var-clipboard-check: "\f46c" !important;
$fa-var-clipboard-list: "\f46d" !important;
$fa-var-clock: "\f017" !important;
$fa-var-clone: "\f24d" !important;
$fa-var-closed-captioning: "\f20a" !important;
$fa-var-cloud: "\f0c2" !important;
$fa-var-cloud-download-alt: "\f381" !important;
$fa-var-cloud-meatball: "\f73b" !important;
$fa-var-cloud-moon: "\f6c3" !important;
$fa-var-cloud-moon-rain: "\f73c" !important;
$fa-var-cloud-rain: "\f73d" !important;
$fa-var-cloud-showers-heavy: "\f740" !important;
$fa-var-cloud-sun: "\f6c4" !important;
$fa-var-cloud-sun-rain: "\f743" !important;
$fa-var-cloud-upload-alt: "\f382" !important;
$fa-var-cloudscale: "\f383" !important;
$fa-var-cloudsmith: "\f384" !important;
$fa-var-cloudversify: "\f385" !important;
$fa-var-cocktail: "\f561" !important;
$fa-var-code: "\f121" !important;
$fa-var-code-branch: "\f126" !important;
$fa-var-codepen: "\f1cb" !important;
$fa-var-codiepie: "\f284" !important;
$fa-var-coffee: "\f0f4" !important;
$fa-var-cog: "\f013" !important;
$fa-var-cogs: "\f085" !important;
$fa-var-coins: "\f51e" !important;
$fa-var-columns: "\f0db" !important;
$fa-var-comment: "\f075" !important;
$fa-var-comment-alt: "\f27a" !important;
$fa-var-comment-dollar: "\f651" !important;
$fa-var-comment-dots: "\f4ad" !important;
$fa-var-comment-medical: "\f7f5" !important;
$fa-var-comment-slash: "\f4b3" !important;
$fa-var-comments: "\f086" !important;
$fa-var-comments-dollar: "\f653" !important;
$fa-var-compact-disc: "\f51f" !important;
$fa-var-compass: "\f14e" !important;
$fa-var-compress: "\f066" !important;
$fa-var-compress-arrows-alt: "\f78c" !important;
$fa-var-concierge-bell: "\f562" !important;
$fa-var-confluence: "\f78d" !important;
$fa-var-connectdevelop: "\f20e" !important;
$fa-var-contao: "\f26d" !important;
$fa-var-cookie: "\f563" !important;
$fa-var-cookie-bite: "\f564" !important;
$fa-var-copy: "\f0c5" !important;
$fa-var-copyright: "\f1f9" !important;
$fa-var-couch: "\f4b8" !important;
$fa-var-cpanel: "\f388" !important;
$fa-var-creative-commons: "\f25e" !important;
$fa-var-creative-commons-by: "\f4e7" !important;
$fa-var-creative-commons-nc: "\f4e8" !important;
$fa-var-creative-commons-nc-eu: "\f4e9" !important;
$fa-var-creative-commons-nc-jp: "\f4ea" !important;
$fa-var-creative-commons-nd: "\f4eb" !important;
$fa-var-creative-commons-pd: "\f4ec" !important;
$fa-var-creative-commons-pd-alt: "\f4ed" !important;
$fa-var-creative-commons-remix: "\f4ee" !important;
$fa-var-creative-commons-sa: "\f4ef" !important;
$fa-var-creative-commons-sampling: "\f4f0" !important;
$fa-var-creative-commons-sampling-plus: "\f4f1" !important;
$fa-var-creative-commons-share: "\f4f2" !important;
$fa-var-creative-commons-zero: "\f4f3" !important;
$fa-var-credit-card: "\f09d" !important;
$fa-var-critical-role: "\f6c9" !important;
$fa-var-crop: "\f125" !important;
$fa-var-crop-alt: "\f565" !important;
$fa-var-cross: "\f654" !important;
$fa-var-crosshairs: "\f05b" !important;
$fa-var-crow: "\f520" !important;
$fa-var-crown: "\f521" !important;
$fa-var-crutch: "\f7f7" !important;
$fa-var-css3: "\f13c" !important;
$fa-var-css3-alt: "\f38b" !important;
$fa-var-cube: "\f1b2" !important;
$fa-var-cubes: "\f1b3" !important;
$fa-var-cut: "\f0c4" !important;
$fa-var-cuttlefish: "\f38c" !important;
$fa-var-d-and-d: "\f38d" !important;
$fa-var-d-and-d-beyond: "\f6ca" !important;
$fa-var-dashcube: "\f210" !important;
$fa-var-database: "\f1c0" !important;
$fa-var-deaf: "\f2a4" !important;
$fa-var-delicious: "\f1a5" !important;
$fa-var-democrat: "\f747" !important;
$fa-var-deploydog: "\f38e" !important;
$fa-var-deskpro: "\f38f" !important;
$fa-var-desktop: "\f108" !important;
$fa-var-dev: "\f6cc" !important;
$fa-var-deviantart: "\f1bd" !important;
$fa-var-dharmachakra: "\f655" !important;
$fa-var-dhl: "\f790" !important;
$fa-var-diagnoses: "\f470" !important;
$fa-var-diaspora: "\f791" !important;
$fa-var-dice: "\f522" !important;
$fa-var-dice-d20: "\f6cf" !important;
$fa-var-dice-d6: "\f6d1" !important;
$fa-var-dice-five: "\f523" !important;
$fa-var-dice-four: "\f524" !important;
$fa-var-dice-one: "\f525" !important;
$fa-var-dice-six: "\f526" !important;
$fa-var-dice-three: "\f527" !important;
$fa-var-dice-two: "\f528" !important;
$fa-var-digg: "\f1a6" !important;
$fa-var-digital-ocean: "\f391" !important;
$fa-var-digital-tachograph: "\f566" !important;
$fa-var-directions: "\f5eb" !important;
$fa-var-discord: "\f392" !important;
$fa-var-discourse: "\f393" !important;
$fa-var-divide: "\f529" !important;
$fa-var-dizzy: "\f567" !important;
$fa-var-dna: "\f471" !important;
$fa-var-dochub: "\f394" !important;
$fa-var-docker: "\f395" !important;
$fa-var-dog: "\f6d3" !important;
$fa-var-dollar-sign: "\f155" !important;
$fa-var-dolly: "\f472" !important;
$fa-var-dolly-flatbed: "\f474" !important;
$fa-var-donate: "\f4b9" !important;
$fa-var-door-closed: "\f52a" !important;
$fa-var-door-open: "\f52b" !important;
$fa-var-dot-circle: "\f192" !important;
$fa-var-dove: "\f4ba" !important;
$fa-var-download: "\f019" !important;
$fa-var-draft2digital: "\f396" !important;
$fa-var-drafting-compass: "\f568" !important;
$fa-var-dragon: "\f6d5" !important;
$fa-var-draw-polygon: "\f5ee" !important;
$fa-var-dribbble: "\f17d" !important;
$fa-var-dribbble-square: "\f397" !important;
$fa-var-dropbox: "\f16b" !important;
$fa-var-drum: "\f569" !important;
$fa-var-drum-steelpan: "\f56a" !important;
$fa-var-drumstick-bite: "\f6d7" !important;
$fa-var-drupal: "\f1a9" !important;
$fa-var-dumbbell: "\f44b" !important;
$fa-var-dumpster: "\f793" !important;
$fa-var-dumpster-fire: "\f794" !important;
$fa-var-dungeon: "\f6d9" !important;
$fa-var-dyalog: "\f399" !important;
$fa-var-earlybirds: "\f39a" !important;
$fa-var-ebay: "\f4f4" !important;
$fa-var-edge: "\f282" !important;
$fa-var-edit: "\f044" !important;
$fa-var-egg: "\f7fb" !important;
$fa-var-eject: "\f052" !important;
$fa-var-elementor: "\f430" !important;
$fa-var-ellipsis-h: "\f141" !important;
$fa-var-ellipsis-v: "\f142" !important;
$fa-var-ello: "\f5f1" !important;
$fa-var-ember: "\f423" !important;
$fa-var-empire: "\f1d1" !important;
$fa-var-envelope: "\f0e0" !important;
$fa-var-envelope-open: "\f2b6" !important;
$fa-var-envelope-open-text: "\f658" !important;
$fa-var-envelope-square: "\f199" !important;
$fa-var-envira: "\f299" !important;
$fa-var-equals: "\f52c" !important;
$fa-var-eraser: "\f12d" !important;
$fa-var-erlang: "\f39d" !important;
$fa-var-ethereum: "\f42e" !important;
$fa-var-ethernet: "\f796" !important;
$fa-var-etsy: "\f2d7" !important;
$fa-var-euro-sign: "\f153" !important;
$fa-var-exchange-alt: "\f362" !important;
$fa-var-exclamation: "\f12a" !important;
$fa-var-exclamation-circle: "\f06a" !important;
$fa-var-exclamation-triangle: "\f071" !important;
$fa-var-expand: "\f065" !important;
$fa-var-expand-arrows-alt: "\f31e" !important;
$fa-var-expeditedssl: "\f23e" !important;
$fa-var-external-link-alt: "\f35d" !important;
$fa-var-external-link-square-alt: "\f360" !important;
$fa-var-eye: "\f06e" !important;
$fa-var-eye-dropper: "\f1fb" !important;
$fa-var-eye-slash: "\f070" !important;
$fa-var-facebook: "\f09a" !important;
$fa-var-facebook-f: "\f39e" !important;
$fa-var-facebook-messenger: "\f39f" !important;
$fa-var-facebook-square: "\f082" !important;
$fa-var-fantasy-flight-games: "\f6dc" !important;
$fa-var-fast-backward: "\f049" !important;
$fa-var-fast-forward: "\f050" !important;
$fa-var-fax: "\f1ac" !important;
$fa-var-feather: "\f52d" !important;
$fa-var-feather-alt: "\f56b" !important;
$fa-var-fedex: "\f797" !important;
$fa-var-fedora: "\f798" !important;
$fa-var-female: "\f182" !important;
$fa-var-fighter-jet: "\f0fb" !important;
$fa-var-figma: "\f799" !important;
$fa-var-file: "\f15b" !important;
$fa-var-file-alt: "\f15c" !important;
$fa-var-file-archive: "\f1c6" !important;
$fa-var-file-audio: "\f1c7" !important;
$fa-var-file-code: "\f1c9" !important;
$fa-var-file-contract: "\f56c" !important;
$fa-var-file-csv: "\f6dd" !important;
$fa-var-file-download: "\f56d" !important;
$fa-var-file-excel: "\f1c3" !important;
$fa-var-file-export: "\f56e" !important;
$fa-var-file-image: "\f1c5" !important;
$fa-var-file-import: "\f56f" !important;
$fa-var-file-invoice: "\f570" !important;
$fa-var-file-invoice-dollar: "\f571" !important;
$fa-var-file-medical: "\f477" !important;
$fa-var-file-medical-alt: "\f478" !important;
$fa-var-file-pdf: "\f1c1" !important;
$fa-var-file-powerpoint: "\f1c4" !important;
$fa-var-file-prescription: "\f572" !important;
$fa-var-file-signature: "\f573" !important;
$fa-var-file-upload: "\f574" !important;
$fa-var-file-video: "\f1c8" !important;
$fa-var-file-word: "\f1c2" !important;
$fa-var-fill: "\f575" !important;
$fa-var-fill-drip: "\f576" !important;
$fa-var-film: "\f008" !important;
$fa-var-filter: "\f0b0" !important;
$fa-var-fingerprint: "\f577" !important;
$fa-var-fire: "\f06d" !important;
$fa-var-fire-alt: "\f7e4" !important;
$fa-var-fire-extinguisher: "\f134" !important;
$fa-var-firefox: "\f269" !important;
$fa-var-first-aid: "\f479" !important;
$fa-var-first-order: "\f2b0" !important;
$fa-var-first-order-alt: "\f50a" !important;
$fa-var-firstdraft: "\f3a1" !important;
$fa-var-fish: "\f578" !important;
$fa-var-fist-raised: "\f6de" !important;
$fa-var-flag: "\f024" !important;
$fa-var-flag-checkered: "\f11e" !important;
$fa-var-flag-usa: "\f74d" !important;
$fa-var-flask: "\f0c3" !important;
$fa-var-flickr: "\f16e" !important;
$fa-var-flipboard: "\f44d" !important;
$fa-var-flushed: "\f579" !important;
$fa-var-fly: "\f417" !important;
$fa-var-folder: "\f07b" !important;
$fa-var-folder-minus: "\f65d" !important;
$fa-var-folder-open: "\f07c" !important;
$fa-var-folder-plus: "\f65e" !important;
$fa-var-font: "\f031" !important;
$fa-var-font-awesome: "\f2b4" !important;
$fa-var-font-awesome-alt: "\f35c" !important;
$fa-var-font-awesome-flag: "\f425" !important;
$fa-var-font-awesome-logo-full: "\f4e6" !important;
$fa-var-fonticons: "\f280" !important;
$fa-var-fonticons-fi: "\f3a2" !important;
$fa-var-football-ball: "\f44e" !important;
$fa-var-fort-awesome: "\f286" !important;
$fa-var-fort-awesome-alt: "\f3a3" !important;
$fa-var-forumbee: "\f211" !important;
$fa-var-forward: "\f04e" !important;
$fa-var-foursquare: "\f180" !important;
$fa-var-free-code-camp: "\f2c5" !important;
$fa-var-freebsd: "\f3a4" !important;
$fa-var-frog: "\f52e" !important;
$fa-var-frown: "\f119" !important;
$fa-var-frown-open: "\f57a" !important;
$fa-var-fulcrum: "\f50b" !important;
$fa-var-funnel-dollar: "\f662" !important;
$fa-var-futbol: "\f1e3" !important;
$fa-var-galactic-republic: "\f50c" !important;
$fa-var-galactic-senate: "\f50d" !important;
$fa-var-gamepad: "\f11b" !important;
$fa-var-gas-pump: "\f52f" !important;
$fa-var-gavel: "\f0e3" !important;
$fa-var-gem: "\f3a5" !important;
$fa-var-genderless: "\f22d" !important;
$fa-var-get-pocket: "\f265" !important;
$fa-var-gg: "\f260" !important;
$fa-var-gg-circle: "\f261" !important;
$fa-var-ghost: "\f6e2" !important;
$fa-var-gift: "\f06b" !important;
$fa-var-gifts: "\f79c" !important;
$fa-var-git: "\f1d3" !important;
$fa-var-git-square: "\f1d2" !important;
$fa-var-github: "\f09b" !important;
$fa-var-github-alt: "\f113" !important;
$fa-var-github-square: "\f092" !important;
$fa-var-gitkraken: "\f3a6" !important;
$fa-var-gitlab: "\f296" !important;
$fa-var-gitter: "\f426" !important;
$fa-var-glass-cheers: "\f79f" !important;
$fa-var-glass-martini: "\f000" !important;
$fa-var-glass-martini-alt: "\f57b" !important;
$fa-var-glass-whiskey: "\f7a0" !important;
$fa-var-glasses: "\f530" !important;
$fa-var-glide: "\f2a5" !important;
$fa-var-glide-g: "\f2a6" !important;
$fa-var-globe: "\f0ac" !important;
$fa-var-globe-africa: "\f57c" !important;
$fa-var-globe-americas: "\f57d" !important;
$fa-var-globe-asia: "\f57e" !important;
$fa-var-globe-europe: "\f7a2" !important;
$fa-var-gofore: "\f3a7" !important;
$fa-var-golf-ball: "\f450" !important;
$fa-var-goodreads: "\f3a8" !important;
$fa-var-goodreads-g: "\f3a9" !important;
$fa-var-google: "\f1a0" !important;
$fa-var-google-drive: "\f3aa" !important;
$fa-var-google-play: "\f3ab" !important;
$fa-var-google-plus: "\f2b3" !important;
$fa-var-google-plus-g: "\f0d5" !important;
$fa-var-google-plus-square: "\f0d4" !important;
$fa-var-google-wallet: "\f1ee" !important;
$fa-var-gopuram: "\f664" !important;
$fa-var-graduation-cap: "\f19d" !important;
$fa-var-gratipay: "\f184" !important;
$fa-var-grav: "\f2d6" !important;
$fa-var-greater-than: "\f531" !important;
$fa-var-greater-than-equal: "\f532" !important;
$fa-var-grimace: "\f57f" !important;
$fa-var-grin: "\f580" !important;
$fa-var-grin-alt: "\f581" !important;
$fa-var-grin-beam: "\f582" !important;
$fa-var-grin-beam-sweat: "\f583" !important;
$fa-var-grin-hearts: "\f584" !important;
$fa-var-grin-squint: "\f585" !important;
$fa-var-grin-squint-tears: "\f586" !important;
$fa-var-grin-stars: "\f587" !important;
$fa-var-grin-tears: "\f588" !important;
$fa-var-grin-tongue: "\f589" !important;
$fa-var-grin-tongue-squint: "\f58a" !important;
$fa-var-grin-tongue-wink: "\f58b" !important;
$fa-var-grin-wink: "\f58c" !important;
$fa-var-grip-horizontal: "\f58d" !important;
$fa-var-grip-lines: "\f7a4" !important;
$fa-var-grip-lines-vertical: "\f7a5" !important;
$fa-var-grip-vertical: "\f58e" !important;
$fa-var-gripfire: "\f3ac" !important;
$fa-var-grunt: "\f3ad" !important;
$fa-var-guitar: "\f7a6" !important;
$fa-var-gulp: "\f3ae" !important;
$fa-var-h-square: "\f0fd" !important;
$fa-var-hacker-news: "\f1d4" !important;
$fa-var-hacker-news-square: "\f3af" !important;
$fa-var-hackerrank: "\f5f7" !important;
$fa-var-hamburger: "\f805" !important;
$fa-var-hammer: "\f6e3" !important;
$fa-var-hamsa: "\f665" !important;
$fa-var-hand-holding: "\f4bd" !important;
$fa-var-hand-holding-heart: "\f4be" !important;
$fa-var-hand-holding-usd: "\f4c0" !important;
$fa-var-hand-lizard: "\f258" !important;
$fa-var-hand-middle-finger: "\f806" !important;
$fa-var-hand-paper: "\f256" !important;
$fa-var-hand-peace: "\f25b" !important;
$fa-var-hand-point-down: "\f0a7" !important;
$fa-var-hand-point-left: "\f0a5" !important;
$fa-var-hand-point-right: "\f0a4" !important;
$fa-var-hand-point-up: "\f0a6" !important;
$fa-var-hand-pointer: "\f25a" !important;
$fa-var-hand-rock: "\f255" !important;
$fa-var-hand-scissors: "\f257" !important;
$fa-var-hand-spock: "\f259" !important;
$fa-var-hands: "\f4c2" !important;
$fa-var-hands-helping: "\f4c4" !important;
$fa-var-handshake: "\f2b5" !important;
$fa-var-hanukiah: "\f6e6" !important;
$fa-var-hard-hat: "\f807" !important;
$fa-var-hashtag: "\f292" !important;
$fa-var-hat-wizard: "\f6e8" !important;
$fa-var-haykal: "\f666" !important;
$fa-var-hdd: "\f0a0" !important;
$fa-var-heading: "\f1dc" !important;
$fa-var-headphones: "\f025" !important;
$fa-var-headphones-alt: "\f58f" !important;
$fa-var-headset: "\f590" !important;
$fa-var-heart: "\f004" !important;
$fa-var-heart-broken: "\f7a9" !important;
$fa-var-heartbeat: "\f21e" !important;
$fa-var-helicopter: "\f533" !important;
$fa-var-highlighter: "\f591" !important;
$fa-var-hiking: "\f6ec" !important;
$fa-var-hippo: "\f6ed" !important;
$fa-var-hips: "\f452" !important;
$fa-var-hire-a-helper: "\f3b0" !important;
$fa-var-history: "\f1da" !important;
$fa-var-hockey-puck: "\f453" !important;
$fa-var-holly-berry: "\f7aa" !important;
$fa-var-home: "\f015" !important;
$fa-var-hooli: "\f427" !important;
$fa-var-hornbill: "\f592" !important;
$fa-var-horse: "\f6f0" !important;
$fa-var-horse-head: "\f7ab" !important;
$fa-var-hospital: "\f0f8" !important;
$fa-var-hospital-alt: "\f47d" !important;
$fa-var-hospital-symbol: "\f47e" !important;
$fa-var-hot-tub: "\f593" !important;
$fa-var-hotdog: "\f80f" !important;
$fa-var-hotel: "\f594" !important;
$fa-var-hotjar: "\f3b1" !important;
$fa-var-hourglass: "\f254" !important;
$fa-var-hourglass-end: "\f253" !important;
$fa-var-hourglass-half: "\f252" !important;
$fa-var-hourglass-start: "\f251" !important;
$fa-var-house-damage: "\f6f1" !important;
$fa-var-houzz: "\f27c" !important;
$fa-var-hryvnia: "\f6f2" !important;
$fa-var-html5: "\f13b" !important;
$fa-var-hubspot: "\f3b2" !important;
$fa-var-i-cursor: "\f246" !important;
$fa-var-ice-cream: "\f810" !important;
$fa-var-icicles: "\f7ad" !important;
$fa-var-id-badge: "\f2c1" !important;
$fa-var-id-card: "\f2c2" !important;
$fa-var-id-card-alt: "\f47f" !important;
$fa-var-igloo: "\f7ae" !important;
$fa-var-image: "\f03e" !important;
$fa-var-images: "\f302" !important;
$fa-var-imdb: "\f2d8" !important;
$fa-var-inbox: "\f01c" !important;
$fa-var-indent: "\f03c" !important;
$fa-var-industry: "\f275" !important;
$fa-var-infinity: "\f534" !important;
$fa-var-info: "\f129" !important;
$fa-var-info-circle: "\f05a" !important;
$fa-var-instagram: "\f16d" !important;
$fa-var-intercom: "\f7af" !important;
$fa-var-internet-explorer: "\f26b" !important;
$fa-var-invision: "\f7b0" !important;
$fa-var-ioxhost: "\f208" !important;
$fa-var-italic: "\f033" !important;
$fa-var-itunes: "\f3b4" !important;
$fa-var-itunes-note: "\f3b5" !important;
$fa-var-java: "\f4e4" !important;
$fa-var-jedi: "\f669" !important;
$fa-var-jedi-order: "\f50e" !important;
$fa-var-jenkins: "\f3b6" !important;
$fa-var-jira: "\f7b1" !important;
$fa-var-joget: "\f3b7" !important;
$fa-var-joint: "\f595" !important;
$fa-var-joomla: "\f1aa" !important;
$fa-var-journal-whills: "\f66a" !important;
$fa-var-js: "\f3b8" !important;
$fa-var-js-square: "\f3b9" !important;
$fa-var-jsfiddle: "\f1cc" !important;
$fa-var-kaaba: "\f66b" !important;
$fa-var-kaggle: "\f5fa" !important;
$fa-var-key: "\f084" !important;
$fa-var-keybase: "\f4f5" !important;
$fa-var-keyboard: "\f11c" !important;
$fa-var-keycdn: "\f3ba" !important;
$fa-var-khanda: "\f66d" !important;
$fa-var-kickstarter: "\f3bb" !important;
$fa-var-kickstarter-k: "\f3bc" !important;
$fa-var-kiss: "\f596" !important;
$fa-var-kiss-beam: "\f597" !important;
$fa-var-kiss-wink-heart: "\f598" !important;
$fa-var-kiwi-bird: "\f535" !important;
$fa-var-korvue: "\f42f" !important;
$fa-var-landmark: "\f66f" !important;
$fa-var-language: "\f1ab" !important;
$fa-var-laptop: "\f109" !important;
$fa-var-laptop-code: "\f5fc" !important;
$fa-var-laptop-medical: "\f812" !important;
$fa-var-laravel: "\f3bd" !important;
$fa-var-lastfm: "\f202" !important;
$fa-var-lastfm-square: "\f203" !important;
$fa-var-laugh: "\f599" !important;
$fa-var-laugh-beam: "\f59a" !important;
$fa-var-laugh-squint: "\f59b" !important;
$fa-var-laugh-wink: "\f59c" !important;
$fa-var-layer-group: "\f5fd" !important;
$fa-var-leaf: "\f06c" !important;
$fa-var-leanpub: "\f212" !important;
$fa-var-lemon: "\f094" !important;
$fa-var-less: "\f41d" !important;
$fa-var-less-than: "\f536" !important;
$fa-var-less-than-equal: "\f537" !important;
$fa-var-level-down-alt: "\f3be" !important;
$fa-var-level-up-alt: "\f3bf" !important;
$fa-var-life-ring: "\f1cd" !important;
$fa-var-lightbulb: "\f0eb" !important;
$fa-var-line: "\f3c0" !important;
$fa-var-link: "\f0c1" !important;
$fa-var-linkedin: "\f08c" !important;
$fa-var-linkedin-in: "\f0e1" !important;
$fa-var-linode: "\f2b8" !important;
$fa-var-linux: "\f17c" !important;
$fa-var-lira-sign: "\f195" !important;
$fa-var-list: "\f03a" !important;
$fa-var-list-alt: "\f022" !important;
$fa-var-list-ol: "\f0cb" !important;
$fa-var-list-ul: "\f0ca" !important;
$fa-var-location-arrow: "\f124" !important;
$fa-var-lock: "\f023" !important;
$fa-var-lock-open: "\f3c1" !important;
$fa-var-long-arrow-alt-down: "\f309" !important;
$fa-var-long-arrow-alt-left: "\f30a" !important;
$fa-var-long-arrow-alt-right: "\f30b" !important;
$fa-var-long-arrow-alt-up: "\f30c" !important;
$fa-var-low-vision: "\f2a8" !important;
$fa-var-luggage-cart: "\f59d" !important;
$fa-var-lyft: "\f3c3" !important;
$fa-var-magento: "\f3c4" !important;
$fa-var-magic: "\f0d0" !important;
$fa-var-magnet: "\f076" !important;
$fa-var-mail-bulk: "\f674" !important;
$fa-var-mailchimp: "\f59e" !important;
$fa-var-male: "\f183" !important;
$fa-var-mandalorian: "\f50f" !important;
$fa-var-map: "\f279" !important;
$fa-var-map-marked: "\f59f" !important;
$fa-var-map-marked-alt: "\f5a0" !important;
$fa-var-map-marker: "\f041" !important;
$fa-var-map-marker-alt: "\f3c5" !important;
$fa-var-map-pin: "\f276" !important;
$fa-var-map-signs: "\f277" !important;
$fa-var-markdown: "\f60f" !important;
$fa-var-marker: "\f5a1" !important;
$fa-var-mars: "\f222" !important;
$fa-var-mars-double: "\f227" !important;
$fa-var-mars-stroke: "\f229" !important;
$fa-var-mars-stroke-h: "\f22b" !important;
$fa-var-mars-stroke-v: "\f22a" !important;
$fa-var-mask: "\f6fa" !important;
$fa-var-mastodon: "\f4f6" !important;
$fa-var-maxcdn: "\f136" !important;
$fa-var-medal: "\f5a2" !important;
$fa-var-medapps: "\f3c6" !important;
$fa-var-medium: "\f23a" !important;
$fa-var-medium-m: "\f3c7" !important;
$fa-var-medkit: "\f0fa" !important;
$fa-var-medrt: "\f3c8" !important;
$fa-var-meetup: "\f2e0" !important;
$fa-var-megaport: "\f5a3" !important;
$fa-var-meh: "\f11a" !important;
$fa-var-meh-blank: "\f5a4" !important;
$fa-var-meh-rolling-eyes: "\f5a5" !important;
$fa-var-memory: "\f538" !important;
$fa-var-mendeley: "\f7b3" !important;
$fa-var-menorah: "\f676" !important;
$fa-var-mercury: "\f223" !important;
$fa-var-meteor: "\f753" !important;
$fa-var-microchip: "\f2db" !important;
$fa-var-microphone: "\f130" !important;
$fa-var-microphone-alt: "\f3c9" !important;
$fa-var-microphone-alt-slash: "\f539" !important;
$fa-var-microphone-slash: "\f131" !important;
$fa-var-microscope: "\f610" !important;
$fa-var-microsoft: "\f3ca" !important;
$fa-var-minus: "\f068" !important;
$fa-var-minus-circle: "\f056" !important;
$fa-var-minus-square: "\f146" !important;
$fa-var-mitten: "\f7b5" !important;
$fa-var-mix: "\f3cb" !important;
$fa-var-mixcloud: "\f289" !important;
$fa-var-mizuni: "\f3cc" !important;
$fa-var-mobile: "\f10b" !important;
$fa-var-mobile-alt: "\f3cd" !important;
$fa-var-modx: "\f285" !important;
$fa-var-monero: "\f3d0" !important;
$fa-var-money-bill: "\f0d6" !important;
$fa-var-money-bill-alt: "\f3d1" !important;
$fa-var-money-bill-wave: "\f53a" !important;
$fa-var-money-bill-wave-alt: "\f53b" !important;
$fa-var-money-check: "\f53c" !important;
$fa-var-money-check-alt: "\f53d" !important;
$fa-var-monument: "\f5a6" !important;
$fa-var-moon: "\f186" !important;
$fa-var-mortar-pestle: "\f5a7" !important;
$fa-var-mosque: "\f678" !important;
$fa-var-motorcycle: "\f21c" !important;
$fa-var-mountain: "\f6fc" !important;
$fa-var-mouse-pointer: "\f245" !important;
$fa-var-mug-hot: "\f7b6" !important;
$fa-var-music: "\f001" !important;
$fa-var-napster: "\f3d2" !important;
$fa-var-neos: "\f612" !important;
$fa-var-network-wired: "\f6ff" !important;
$fa-var-neuter: "\f22c" !important;
$fa-var-newspaper: "\f1ea" !important;
$fa-var-nimblr: "\f5a8" !important;
$fa-var-nintendo-switch: "\f418" !important;
$fa-var-node: "\f419" !important;
$fa-var-node-js: "\f3d3" !important;
$fa-var-not-equal: "\f53e" !important;
$fa-var-notes-medical: "\f481" !important;
$fa-var-npm: "\f3d4" !important;
$fa-var-ns8: "\f3d5" !important;
$fa-var-nutritionix: "\f3d6" !important;
$fa-var-object-group: "\f247" !important;
$fa-var-object-ungroup: "\f248" !important;
$fa-var-odnoklassniki: "\f263" !important;
$fa-var-odnoklassniki-square: "\f264" !important;
$fa-var-oil-can: "\f613" !important;
$fa-var-old-republic: "\f510" !important;
$fa-var-om: "\f679" !important;
$fa-var-opencart: "\f23d" !important;
$fa-var-openid: "\f19b" !important;
$fa-var-opera: "\f26a" !important;
$fa-var-optin-monster: "\f23c" !important;
$fa-var-osi: "\f41a" !important;
$fa-var-otter: "\f700" !important;
$fa-var-outdent: "\f03b" !important;
$fa-var-page4: "\f3d7" !important;
$fa-var-pagelines: "\f18c" !important;
$fa-var-pager: "\f815" !important;
$fa-var-paint-brush: "\f1fc" !important;
$fa-var-paint-roller: "\f5aa" !important;
$fa-var-palette: "\f53f" !important;
$fa-var-palfed: "\f3d8" !important;
$fa-var-pallet: "\f482" !important;
$fa-var-paper-plane: "\f1d8" !important;
$fa-var-paperclip: "\f0c6" !important;
$fa-var-parachute-box: "\f4cd" !important;
$fa-var-paragraph: "\f1dd" !important;
$fa-var-parking: "\f540" !important;
$fa-var-passport: "\f5ab" !important;
$fa-var-pastafarianism: "\f67b" !important;
$fa-var-paste: "\f0ea" !important;
$fa-var-patreon: "\f3d9" !important;
$fa-var-pause: "\f04c" !important;
$fa-var-pause-circle: "\f28b" !important;
$fa-var-paw: "\f1b0" !important;
$fa-var-paypal: "\f1ed" !important;
$fa-var-peace: "\f67c" !important;
$fa-var-pen: "\f304" !important;
$fa-var-pen-alt: "\f305" !important;
$fa-var-pen-fancy: "\f5ac" !important;
$fa-var-pen-nib: "\f5ad" !important;
$fa-var-pen-square: "\f14b" !important;
$fa-var-pencil-alt: "\f303" !important;
$fa-var-pencil-ruler: "\f5ae" !important;
$fa-var-penny-arcade: "\f704" !important;
$fa-var-people-carry: "\f4ce" !important;
$fa-var-pepper-hot: "\f816" !important;
$fa-var-percent: "\f295" !important;
$fa-var-percentage: "\f541" !important;
$fa-var-periscope: "\f3da" !important;
$fa-var-person-booth: "\f756" !important;
$fa-var-phabricator: "\f3db" !important;
$fa-var-phoenix-framework: "\f3dc" !important;
$fa-var-phoenix-squadron: "\f511" !important;
$fa-var-phone: "\f095" !important;
$fa-var-phone-slash: "\f3dd" !important;
$fa-var-phone-square: "\f098" !important;
$fa-var-phone-volume: "\f2a0" !important;
$fa-var-php: "\f457" !important;
$fa-var-pied-piper: "\f2ae" !important;
$fa-var-pied-piper-alt: "\f1a8" !important;
$fa-var-pied-piper-hat: "\f4e5" !important;
$fa-var-pied-piper-pp: "\f1a7" !important;
$fa-var-piggy-bank: "\f4d3" !important;
$fa-var-pills: "\f484" !important;
$fa-var-pinterest: "\f0d2" !important;
$fa-var-pinterest-p: "\f231" !important;
$fa-var-pinterest-square: "\f0d3" !important;
$fa-var-pizza-slice: "\f818" !important;
$fa-var-place-of-worship: "\f67f" !important;
$fa-var-plane: "\f072" !important;
$fa-var-plane-arrival: "\f5af" !important;
$fa-var-plane-departure: "\f5b0" !important;
$fa-var-play: "\f04b" !important;
$fa-var-play-circle: "\f144" !important;
$fa-var-playstation: "\f3df" !important;
$fa-var-plug: "\f1e6" !important;
$fa-var-plus: "\f067" !important;
$fa-var-plus-circle: "\f055" !important;
$fa-var-plus-square: "\f0fe" !important;
$fa-var-podcast: "\f2ce" !important;
$fa-var-poll: "\f681" !important;
$fa-var-poll-h: "\f682" !important;
$fa-var-poo: "\f2fe" !important;
$fa-var-poo-storm: "\f75a" !important;
$fa-var-poop: "\f619" !important;
$fa-var-portrait: "\f3e0" !important;
$fa-var-pound-sign: "\f154" !important;
$fa-var-power-off: "\f011" !important;
$fa-var-pray: "\f683" !important;
$fa-var-praying-hands: "\f684" !important;
$fa-var-prescription: "\f5b1" !important;
$fa-var-prescription-bottle: "\f485" !important;
$fa-var-prescription-bottle-alt: "\f486" !important;
$fa-var-print: "\f02f" !important;
$fa-var-procedures: "\f487" !important;
$fa-var-product-hunt: "\f288" !important;
$fa-var-project-diagram: "\f542" !important;
$fa-var-pushed: "\f3e1" !important;
$fa-var-puzzle-piece: "\f12e" !important;
$fa-var-python: "\f3e2" !important;
$fa-var-qq: "\f1d6" !important;
$fa-var-qrcode: "\f029" !important;
$fa-var-question: "\f128" !important;
$fa-var-question-circle: "\f059" !important;
$fa-var-quidditch: "\f458" !important;
$fa-var-quinscape: "\f459" !important;
$fa-var-quora: "\f2c4" !important;
$fa-var-quote-left: "\f10d" !important;
$fa-var-quote-right: "\f10e" !important;
$fa-var-quran: "\f687" !important;
$fa-var-r-project: "\f4f7" !important;
$fa-var-radiation: "\f7b9" !important;
$fa-var-radiation-alt: "\f7ba" !important;
$fa-var-rainbow: "\f75b" !important;
$fa-var-random: "\f074" !important;
$fa-var-raspberry-pi: "\f7bb" !important;
$fa-var-ravelry: "\f2d9" !important;
$fa-var-react: "\f41b" !important;
$fa-var-reacteurope: "\f75d" !important;
$fa-var-readme: "\f4d5" !important;
$fa-var-rebel: "\f1d0" !important;
$fa-var-receipt: "\f543" !important;
$fa-var-recycle: "\f1b8" !important;
$fa-var-red-river: "\f3e3" !important;
$fa-var-reddit: "\f1a1" !important;
$fa-var-reddit-alien: "\f281" !important;
$fa-var-reddit-square: "\f1a2" !important;
$fa-var-redhat: "\f7bc" !important;
$fa-var-redo: "\f01e" !important;
$fa-var-redo-alt: "\f2f9" !important;
$fa-var-registered: "\f25d" !important;
$fa-var-renren: "\f18b" !important;
$fa-var-reply: "\f3e5" !important;
$fa-var-reply-all: "\f122" !important;
$fa-var-replyd: "\f3e6" !important;
$fa-var-republican: "\f75e" !important;
$fa-var-researchgate: "\f4f8" !important;
$fa-var-resolving: "\f3e7" !important;
$fa-var-restroom: "\f7bd" !important;
$fa-var-retweet: "\f079" !important;
$fa-var-rev: "\f5b2" !important;
$fa-var-ribbon: "\f4d6" !important;
$fa-var-ring: "\f70b" !important;
$fa-var-road: "\f018" !important;
$fa-var-robot: "\f544" !important;
$fa-var-rocket: "\f135" !important;
$fa-var-rocketchat: "\f3e8" !important;
$fa-var-rockrms: "\f3e9" !important;
$fa-var-route: "\f4d7" !important;
$fa-var-rss: "\f09e" !important;
$fa-var-rss-square: "\f143" !important;
$fa-var-ruble-sign: "\f158" !important;
$fa-var-ruler: "\f545" !important;
$fa-var-ruler-combined: "\f546" !important;
$fa-var-ruler-horizontal: "\f547" !important;
$fa-var-ruler-vertical: "\f548" !important;
$fa-var-running: "\f70c" !important;
$fa-var-rupee-sign: "\f156" !important;
$fa-var-sad-cry: "\f5b3" !important;
$fa-var-sad-tear: "\f5b4" !important;
$fa-var-safari: "\f267" !important;
$fa-var-sass: "\f41e" !important;
$fa-var-satellite: "\f7bf" !important;
$fa-var-satellite-dish: "\f7c0" !important;
$fa-var-save: "\f0c7" !important;
$fa-var-schlix: "\f3ea" !important;
$fa-var-school: "\f549" !important;
$fa-var-screwdriver: "\f54a" !important;
$fa-var-scribd: "\f28a" !important;
$fa-var-scroll: "\f70e" !important;
$fa-var-sd-card: "\f7c2" !important;
$fa-var-search: "\f002" !important;
$fa-var-search-dollar: "\f688" !important;
$fa-var-search-location: "\f689" !important;
$fa-var-search-minus: "\f010" !important;
$fa-var-search-plus: "\f00e" !important;
$fa-var-searchengin: "\f3eb" !important;
$fa-var-seedling: "\f4d8" !important;
$fa-var-sellcast: "\f2da" !important;
$fa-var-sellsy: "\f213" !important;
$fa-var-server: "\f233" !important;
$fa-var-servicestack: "\f3ec" !important;
$fa-var-shapes: "\f61f" !important;
$fa-var-share: "\f064" !important;
$fa-var-share-alt: "\f1e0" !important;
$fa-var-share-alt-square: "\f1e1" !important;
$fa-var-share-square: "\f14d" !important;
$fa-var-shekel-sign: "\f20b" !important;
$fa-var-shield-alt: "\f3ed" !important;
$fa-var-ship: "\f21a" !important;
$fa-var-shipping-fast: "\f48b" !important;
$fa-var-shirtsinbulk: "\f214" !important;
$fa-var-shoe-prints: "\f54b" !important;
$fa-var-shopping-bag: "\f290" !important;
$fa-var-shopping-basket: "\f291" !important;
$fa-var-shopping-cart: "\f07a" !important;
$fa-var-shopware: "\f5b5" !important;
$fa-var-shower: "\f2cc" !important;
$fa-var-shuttle-van: "\f5b6" !important;
$fa-var-sign: "\f4d9" !important;
$fa-var-sign-in-alt: "\f2f6" !important;
$fa-var-sign-language: "\f2a7" !important;
$fa-var-sign-out-alt: "\f2f5" !important;
$fa-var-signal: "\f012" !important;
$fa-var-signature: "\f5b7" !important;
$fa-var-sim-card: "\f7c4" !important;
$fa-var-simplybuilt: "\f215" !important;
$fa-var-sistrix: "\f3ee" !important;
$fa-var-sitemap: "\f0e8" !important;
$fa-var-sith: "\f512" !important;
$fa-var-skating: "\f7c5" !important;
$fa-var-sketch: "\f7c6" !important;
$fa-var-skiing: "\f7c9" !important;
$fa-var-skiing-nordic: "\f7ca" !important;
$fa-var-skull: "\f54c" !important;
$fa-var-skull-crossbones: "\f714" !important;
$fa-var-skyatlas: "\f216" !important;
$fa-var-skype: "\f17e" !important;
$fa-var-slack: "\f198" !important;
$fa-var-slack-hash: "\f3ef" !important;
$fa-var-slash: "\f715" !important;
$fa-var-sleigh: "\f7cc" !important;
$fa-var-sliders-h: "\f1de" !important;
$fa-var-slideshare: "\f1e7" !important;
$fa-var-smile: "\f118" !important;
$fa-var-smile-beam: "\f5b8" !important;
$fa-var-smile-wink: "\f4da" !important;
$fa-var-smog: "\f75f" !important;
$fa-var-smoking: "\f48d" !important;
$fa-var-smoking-ban: "\f54d" !important;
$fa-var-sms: "\f7cd" !important;
$fa-var-snapchat: "\f2ab" !important;
$fa-var-snapchat-ghost: "\f2ac" !important;
$fa-var-snapchat-square: "\f2ad" !important;
$fa-var-snowboarding: "\f7ce" !important;
$fa-var-snowflake: "\f2dc" !important;
$fa-var-snowman: "\f7d0" !important;
$fa-var-snowplow: "\f7d2" !important;
$fa-var-socks: "\f696" !important;
$fa-var-solar-panel: "\f5ba" !important;
$fa-var-sort: "\f0dc" !important;
$fa-var-sort-alpha-down: "\f15d" !important;
$fa-var-sort-alpha-up: "\f15e" !important;
$fa-var-sort-amount-down: "\f160" !important;
$fa-var-sort-amount-up: "\f161" !important;
$fa-var-sort-down: "\f0dd" !important;
$fa-var-sort-numeric-down: "\f162" !important;
$fa-var-sort-numeric-up: "\f163" !important;
$fa-var-sort-up: "\f0de" !important;
$fa-var-soundcloud: "\f1be" !important;
$fa-var-sourcetree: "\f7d3" !important;
$fa-var-spa: "\f5bb" !important;
$fa-var-space-shuttle: "\f197" !important;
$fa-var-speakap: "\f3f3" !important;
$fa-var-spider: "\f717" !important;
$fa-var-spinner: "\f110" !important;
$fa-var-splotch: "\f5bc" !important;
$fa-var-spotify: "\f1bc" !important;
$fa-var-spray-can: "\f5bd" !important;
$fa-var-square: "\f0c8" !important;
$fa-var-square-full: "\f45c" !important;
$fa-var-square-root-alt: "\f698" !important;
$fa-var-squarespace: "\f5be" !important;
$fa-var-stack-exchange: "\f18d" !important;
$fa-var-stack-overflow: "\f16c" !important;
$fa-var-stamp: "\f5bf" !important;
$fa-var-star: "\f005" !important;
$fa-var-star-and-crescent: "\f699" !important;
$fa-var-star-half: "\f089" !important;
$fa-var-star-half-alt: "\f5c0" !important;
$fa-var-star-of-david: "\f69a" !important;
$fa-var-star-of-life: "\f621" !important;
$fa-var-staylinked: "\f3f5" !important;
$fa-var-steam: "\f1b6" !important;
$fa-var-steam-square: "\f1b7" !important;
$fa-var-steam-symbol: "\f3f6" !important;
$fa-var-step-backward: "\f048" !important;
$fa-var-step-forward: "\f051" !important;
$fa-var-stethoscope: "\f0f1" !important;
$fa-var-sticker-mule: "\f3f7" !important;
$fa-var-sticky-note: "\f249" !important;
$fa-var-stop: "\f04d" !important;
$fa-var-stop-circle: "\f28d" !important;
$fa-var-stopwatch: "\f2f2" !important;
$fa-var-store: "\f54e" !important;
$fa-var-store-alt: "\f54f" !important;
$fa-var-strava: "\f428" !important;
$fa-var-stream: "\f550" !important;
$fa-var-street-view: "\f21d" !important;
$fa-var-strikethrough: "\f0cc" !important;
$fa-var-stripe: "\f429" !important;
$fa-var-stripe-s: "\f42a" !important;
$fa-var-stroopwafel: "\f551" !important;
$fa-var-studiovinari: "\f3f8" !important;
$fa-var-stumbleupon: "\f1a4" !important;
$fa-var-stumbleupon-circle: "\f1a3" !important;
$fa-var-subscript: "\f12c" !important;
$fa-var-subway: "\f239" !important;
$fa-var-suitcase: "\f0f2" !important;
$fa-var-suitcase-rolling: "\f5c1" !important;
$fa-var-sun: "\f185" !important;
$fa-var-superpowers: "\f2dd" !important;
$fa-var-superscript: "\f12b" !important;
$fa-var-supple: "\f3f9" !important;
$fa-var-surprise: "\f5c2" !important;
$fa-var-suse: "\f7d6" !important;
$fa-var-swatchbook: "\f5c3" !important;
$fa-var-swimmer: "\f5c4" !important;
$fa-var-swimming-pool: "\f5c5" !important;
$fa-var-synagogue: "\f69b" !important;
$fa-var-sync: "\f021" !important;
$fa-var-sync-alt: "\f2f1" !important;
$fa-var-syringe: "\f48e" !important;
$fa-var-table: "\f0ce" !important;
$fa-var-table-tennis: "\f45d" !important;
$fa-var-tablet: "\f10a" !important;
$fa-var-tablet-alt: "\f3fa" !important;
$fa-var-tablets: "\f490" !important;
$fa-var-tachometer-alt: "\f3fd" !important;
$fa-var-tag: "\f02b" !important;
$fa-var-tags: "\f02c" !important;
$fa-var-tape: "\f4db" !important;
$fa-var-tasks: "\f0ae" !important;
$fa-var-taxi: "\f1ba" !important;
$fa-var-teamspeak: "\f4f9" !important;
$fa-var-teeth: "\f62e" !important;
$fa-var-teeth-open: "\f62f" !important;
$fa-var-telegram: "\f2c6" !important;
$fa-var-telegram-plane: "\f3fe" !important;
$fa-var-temperature-high: "\f769" !important;
$fa-var-temperature-low: "\f76b" !important;
$fa-var-tencent-weibo: "\f1d5" !important;
$fa-var-tenge: "\f7d7" !important;
$fa-var-terminal: "\f120" !important;
$fa-var-text-height: "\f034" !important;
$fa-var-text-width: "\f035" !important;
$fa-var-th: "\f00a" !important;
$fa-var-th-large: "\f009" !important;
$fa-var-th-list: "\f00b" !important;
$fa-var-the-red-yeti: "\f69d" !important;
$fa-var-theater-masks: "\f630" !important;
$fa-var-themeco: "\f5c6" !important;
$fa-var-themeisle: "\f2b2" !important;
$fa-var-thermometer: "\f491" !important;
$fa-var-thermometer-empty: "\f2cb" !important;
$fa-var-thermometer-full: "\f2c7" !important;
$fa-var-thermometer-half: "\f2c9" !important;
$fa-var-thermometer-quarter: "\f2ca" !important;
$fa-var-thermometer-three-quarters: "\f2c8" !important;
$fa-var-think-peaks: "\f731" !important;
$fa-var-thumbs-down: "\f165" !important;
$fa-var-thumbs-up: "\f164" !important;
$fa-var-thumbtack: "\f08d" !important;
$fa-var-ticket-alt: "\f3ff" !important;
$fa-var-times: "\f00d" !important;
$fa-var-times-circle: "\f057" !important;
$fa-var-tint: "\f043" !important;
$fa-var-tint-slash: "\f5c7" !important;
$fa-var-tired: "\f5c8" !important;
$fa-var-toggle-off: "\f204" !important;
$fa-var-toggle-on: "\f205" !important;
$fa-var-toilet: "\f7d8" !important;
$fa-var-toilet-paper: "\f71e" !important;
$fa-var-toolbox: "\f552" !important;
$fa-var-tools: "\f7d9" !important;
$fa-var-tooth: "\f5c9" !important;
$fa-var-torah: "\f6a0" !important;
$fa-var-torii-gate: "\f6a1" !important;
$fa-var-tractor: "\f722" !important;
$fa-var-trade-federation: "\f513" !important;
$fa-var-trademark: "\f25c" !important;
$fa-var-traffic-light: "\f637" !important;
$fa-var-train: "\f238" !important;
$fa-var-tram: "\f7da" !important;
$fa-var-transgender: "\f224" !important;
$fa-var-transgender-alt: "\f225" !important;
$fa-var-trash: "\f1f8" !important;
$fa-var-trash-alt: "\f2ed" !important;
$fa-var-trash-restore: "\f829" !important;
$fa-var-trash-restore-alt: "\f82a" !important;
$fa-var-tree: "\f1bb" !important;
$fa-var-trello: "\f181" !important;
$fa-var-tripadvisor: "\f262" !important;
$fa-var-trophy: "\f091" !important;
$fa-var-truck: "\f0d1" !important;
$fa-var-truck-loading: "\f4de" !important;
$fa-var-truck-monster: "\f63b" !important;
$fa-var-truck-moving: "\f4df" !important;
$fa-var-truck-pickup: "\f63c" !important;
$fa-var-tshirt: "\f553" !important;
$fa-var-tty: "\f1e4" !important;
$fa-var-tumblr: "\f173" !important;
$fa-var-tumblr-square: "\f174" !important;
$fa-var-tv: "\f26c" !important;
$fa-var-twitch: "\f1e8" !important;
$fa-var-twitter: "\f099" !important;
$fa-var-twitter-square: "\f081" !important;
$fa-var-typo3: "\f42b" !important;
$fa-var-uber: "\f402" !important;
$fa-var-ubuntu: "\f7df" !important;
$fa-var-uikit: "\f403" !important;
$fa-var-umbrella: "\f0e9" !important;
$fa-var-umbrella-beach: "\f5ca" !important;
$fa-var-underline: "\f0cd" !important;
$fa-var-undo: "\f0e2" !important;
$fa-var-undo-alt: "\f2ea" !important;
$fa-var-uniregistry: "\f404" !important;
$fa-var-universal-access: "\f29a" !important;
$fa-var-university: "\f19c" !important;
$fa-var-unlink: "\f127" !important;
$fa-var-unlock: "\f09c" !important;
$fa-var-unlock-alt: "\f13e" !important;
$fa-var-untappd: "\f405" !important;
$fa-var-upload: "\f093" !important;
$fa-var-ups: "\f7e0" !important;
$fa-var-usb: "\f287" !important;
$fa-var-user: "\f007" !important;
$fa-var-user-alt: "\f406" !important;
$fa-var-user-alt-slash: "\f4fa" !important;
$fa-var-user-astronaut: "\f4fb" !important;
$fa-var-user-check: "\f4fc" !important;
$fa-var-user-circle: "\f2bd" !important;
$fa-var-user-clock: "\f4fd" !important;
$fa-var-user-cog: "\f4fe" !important;
$fa-var-user-edit: "\f4ff" !important;
$fa-var-user-friends: "\f500" !important;
$fa-var-user-graduate: "\f501" !important;
$fa-var-user-injured: "\f728" !important;
$fa-var-user-lock: "\f502" !important;
$fa-var-user-md: "\f0f0" !important;
$fa-var-user-minus: "\f503" !important;
$fa-var-user-ninja: "\f504" !important;
$fa-var-user-nurse: "\f82f" !important;
$fa-var-user-plus: "\f234" !important;
$fa-var-user-secret: "\f21b" !important;
$fa-var-user-shield: "\f505" !important;
$fa-var-user-slash: "\f506" !important;
$fa-var-user-tag: "\f507" !important;
$fa-var-user-tie: "\f508" !important;
$fa-var-user-times: "\f235" !important;
$fa-var-users: "\f0c0" !important;
$fa-var-users-cog: "\f509" !important;
$fa-var-usps: "\f7e1" !important;
$fa-var-ussunnah: "\f407" !important;
$fa-var-utensil-spoon: "\f2e5" !important;
$fa-var-utensils: "\f2e7" !important;
$fa-var-vaadin: "\f408" !important;
$fa-var-vector-square: "\f5cb" !important;
$fa-var-venus: "\f221" !important;
$fa-var-venus-double: "\f226" !important;
$fa-var-venus-mars: "\f228" !important;
$fa-var-viacoin: "\f237" !important;
$fa-var-viadeo: "\f2a9" !important;
$fa-var-viadeo-square: "\f2aa" !important;
$fa-var-vial: "\f492" !important;
$fa-var-vials: "\f493" !important;
$fa-var-viber: "\f409" !important;
$fa-var-video: "\f03d" !important;
$fa-var-video-slash: "\f4e2" !important;
$fa-var-vihara: "\f6a7" !important;
$fa-var-vimeo: "\f40a" !important;
$fa-var-vimeo-square: "\f194" !important;
$fa-var-vimeo-v: "\f27d" !important;
$fa-var-vine: "\f1ca" !important;
$fa-var-vk: "\f189" !important;
$fa-var-vnv: "\f40b" !important;
$fa-var-volleyball-ball: "\f45f" !important;
$fa-var-volume-down: "\f027" !important;
$fa-var-volume-mute: "\f6a9" !important;
$fa-var-volume-off: "\f026" !important;
$fa-var-volume-up: "\f028" !important;
$fa-var-vote-yea: "\f772" !important;
$fa-var-vr-cardboard: "\f729" !important;
$fa-var-vuejs: "\f41f" !important;
$fa-var-walking: "\f554" !important;
$fa-var-wallet: "\f555" !important;
$fa-var-warehouse: "\f494" !important;
$fa-var-water: "\f773" !important;
$fa-var-weebly: "\f5cc" !important;
$fa-var-weibo: "\f18a" !important;
$fa-var-weight: "\f496" !important;
$fa-var-weight-hanging: "\f5cd" !important;
$fa-var-weixin: "\f1d7" !important;
$fa-var-whatsapp: "\f232" !important;
$fa-var-whatsapp-square: "\f40c" !important;
$fa-var-wheelchair: "\f193" !important;
$fa-var-whmcs: "\f40d" !important;
$fa-var-wifi: "\f1eb" !important;
$fa-var-wikipedia-w: "\f266" !important;
$fa-var-wind: "\f72e" !important;
$fa-var-window-close: "\f410" !important;
$fa-var-window-maximize: "\f2d0" !important;
$fa-var-window-minimize: "\f2d1" !important;
$fa-var-window-restore: "\f2d2" !important;
$fa-var-windows: "\f17a" !important;
$fa-var-wine-bottle: "\f72f" !important;
$fa-var-wine-glass: "\f4e3" !important;
$fa-var-wine-glass-alt: "\f5ce" !important;
$fa-var-wix: "\f5cf" !important;
$fa-var-wizards-of-the-coast: "\f730" !important;
$fa-var-wolf-pack-battalion: "\f514" !important;
$fa-var-won-sign: "\f159" !important;
$fa-var-wordpress: "\f19a" !important;
$fa-var-wordpress-simple: "\f411" !important;
$fa-var-wpbeginner: "\f297" !important;
$fa-var-wpexplorer: "\f2de" !important;
$fa-var-wpforms: "\f298" !important;
$fa-var-wpressr: "\f3e4" !important;
$fa-var-wrench: "\f0ad" !important;
$fa-var-x-ray: "\f497" !important;
$fa-var-xbox: "\f412" !important;
$fa-var-xing: "\f168" !important;
$fa-var-xing-square: "\f169" !important;
$fa-var-y-combinator: "\f23b" !important;
$fa-var-yahoo: "\f19e" !important;
$fa-var-yandex: "\f413" !important;
$fa-var-yandex-international: "\f414" !important;
$fa-var-yarn: "\f7e3" !important;
$fa-var-yelp: "\f1e9" !important;
$fa-var-yen-sign: "\f157" !important;
$fa-var-yin-yang: "\f6ad" !important;
$fa-var-yoast: "\f2b1" !important;
$fa-var-youtube: "\f167" !important;
$fa-var-youtube-square: "\f431" !important;
$fa-var-zhihu: "\f63f" !important;
$fa-var-close: "\f00d" !important;
$fa-var-refresh: "\f021" !important;
$fa-var-arrows: "\f047" !important;
$fa-var-arrows-h: "\f07e" !important;
$fa-var-circle-o: "\f10c" !important;
$fa-var-dot-circle-o: "\f192" !important;
$fa-var-long-arrow-down: "\f175" !important;
$fa-var-long-arrow-left: "\f177" !important;
$fa-var-long-arrow-right: "\f178" !important;
$fa-var-long-arrow-up: "\f176" !important;
$fa-var-square-o: "\f096" !important;
$fa-var-file-o: "\f016" !important;
$fa-var-folder: "\f07b" !important;
$fa-var-folder-o: "\f114" !important;
$fa-var-folder-open: "\f07c" !important;
$fa-var-folder-open-o: "\f115" !important;
$fa-var-thumb-tack: "\f08d" !important;
$fa-var-check-square-o: "\f14a" !important;
