// All rule-generating imports go here vs in etc/all.scss so that they will
// cascade after the framework rules.  This ensures that where the framework provides
// a default icon, but also provides an iconCls to override it (for example tree icons)
// the fa rules will override the framework ones (assuming specificity of fa rules is
// the same or greater than the framework rules)
@import "../etc/_path.scss";
@import "../etc/_core.scss";
@import "../etc/_larger.scss";
@import "../etc/_fixed-width.scss";
@import "../etc/_list.scss";
@import "../etc/_bordered-pulled.scss";
@import "../etc/_animated.scss";
@import "../etc/_rotated-flipped.scss";
@import "../etc/_stacked.scss";
@import "../etc/_icons.scss";
@import "../etc/_screen-reader.scss";
@import "../etc/brands.scss";
@import "../etc/regular.scss";
@import "../etc/solid.scss";

// The "x-fa" class should be used in Ext JS applications instead
// of "fa".  The "fa" class sets some properties that may collide
// with theme properties, whereas "x-fa" sets only the font-family.
.#{$prefix}fa:before {
    font-family: FontAwesome !important;
}

.#{$prefix}fas:before {
    font-family: "Font Awesome 5 Free Solid" !important;
  }
  
  .#{$prefix}far:before {
    font-family: "Font Awesome 5 Free Regular" !important;
  }
  
  .#{$prefix}fab:before {
    font-family: "Font Awesome 5 Free Brands Regular" !important;
  }
  

// NOTE: _variables.scss is imported much earlier by ext/sass/etc/font-awesome-variables.scss
