$color: dynamic(#5a5a5a);
$font-family: dynamic(helvetica, arial, verdana, sans-serif);
$font-size: dynamic(12px);
$font-weight: dynamic(normal);
$font-weight-bold: dynamic(bold);
$line-height: dynamic(17px);

$base-highlight-color: dynamic(mix(#fff, $base-color, 15%));
$base-light-color: dynamic(mix(#fff, $base-color, 65%));
$base-dark-color: dynamic(mix(#000, $base-color, 14%));
$neutral-color: dynamic(#e1e1e1);
$neutral-light-color: dynamic(mix(#fff, $neutral-color, 68%));
$neutral-medium-dark-color: dynamic(mix(#000, $neutral-color, 14%));
$neutral-dark-color: dynamic(mix(#000, $neutral-color, 22%));
$error-color: dynamic(#cf4c35);
$confirmation-color: dynamic(#73b51e);
$error-light-color: dynamic(mix(#fff, $error-color, 20%));
$confirmation-light-color: dynamic(mix(#fff, $confirmation-color, 35%));
$body-background-color: dynamic($neutral-light-color);
$include-default-uis: dynamic(true);

$lightest-color: #fff;
$panel-navigation-item-line-height: 64px;
$treelist-item-text-color: dynamic(#5a5a5a);
$treelist-item-text-font-size: 13px;

$panel-header-padding: dynamic(6px 10px 7px);
$boundlist-item-selected-background-color:  #ffefbb;

.x-title-icon-navigation {
    font-family: FontAwesome;
    color: #fff;
    font-size: 24px;
    line-height: 24px;
}

.x-tab-icon-el-navigation {
    font-family: FontAwesome;
    color: #acacac;

    .x-tab-over & {
        color: #c4c4c4;
    }

    .x-tab-active & {
        color: #fff;
    }
}

.x-panel-header-title-navigation > .x-title-text-navigation:after {
    top: 30px;
    right: -24px;
}

.sencha-logo {
    background-color: $base-color;
    height: 65px;

    font-size: 16px;
    color: $lightest-color;
    margin-left: 17px;

    .main-logo {
        line-height: 65px;
        img{
            margin-left: 22px;
            margin-right: 22px;
            top: 8px;
            position: relative;
        }
    }
}

.sencha-dash-dash-headerbar {
    padding:0 30px 0 0;
    position:fixed;
    width:100%;
    z-index:10;
    border:none;
    .header-right-profile-image {
        border-radius: 20px;
    }
}
.top-english-button{
    .x-btn-icon-el{
        width:21px;
        height:14px;
    }
}
.collapsed{
    .hot-icon,.new-icon{
        &:after{
            display:none;
        }
    }
    .x-tree-elbow-img{
        display:none;
    }

    .x-tree-node-text {
        display:none;
    }
}
.x-grid-cell{
    position:relative;
}
.hot-icon,.new-icon{
    &.hot-icon:after{
        content: "HOT";
        background:#e3495a;
    }
    &.new-icon:after{
        content: "NEW";
        background:$base-color;
    }
    &:after{
        height: 18px;
        width: 34px;
        display: inline-block;
        position: absolute;
        top: 22px;
        right: -180px;
        text-align:center;
        color: $lightest-color;
        font-weight: bold;
        font-size: 10px;
        line-height: 18px;
    }
}

.x-treelist-item-tool {
    height: $panel-navigation-item-line-height;
    &.hot-icon:after, &.new-icon:after{
        background: $panel-header-background-color;
        content: '';
    }
}
/* .toolbar-btn-shadow{
    @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
    .x-btn-over{
        background-color: $button-toolbar-hover-background-color;
   }
} */

//Add border around html editor field
.x-html-editor-input{
    border:1px solid #ccc;
}

.shadow{-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.2);-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.2);-ms-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.2);box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.2)}

// scss for Details-Email-Inbox styles
@import 'Details';
@import 'Email';
@import 'Inbox';