$base-color: dynamic(#a7a8a2);
//T= tsara
//Vert = 2E8B57(Sea green-T) 20B2AA(Light sea green-T --default) 518682(Lagon-T) 019187(turquoise chouette) 019d6e(jade dansant) 57aa80(julep) 238652(vert chanceux) 9aba25(Lime électrique)
//Gris = a6a3a9(Mauve mystérieux-T) b5b1b5(Gris huppé-T) a7a8a2(Matière grise) 7f8486(Logiciel-T) bec1c3(Gris paresseux-T)
//Violet = bdb4d4(Gycine-T) d1cbdf(Peut-être pourpre)
//Rouge = cc617f(Pitaya-T) b54d7f(Rose exubérant) eb92a3(joyeux-T)

$base-highlight-color: dynamic(mix(#fff, $base-color, 20%));
$base-light-color: dynamic(mix(#fff, $base-color, 60%));
$base-dark-color: dynamic(mix(#000, $base-color, 20%));
$neutral-color: dynamic(#d0d0d0);
$neutral-light-color: dynamic(mix(#fff, $neutral-color, 80%));
$neutral-highlight-color: dynamic(mix(#fff, $neutral-color, 60%));
$neutral-medium-dark-color: dynamic(mix(#000, $neutral-color, 15.2%));
$neutral-dark-color: dynamic(mix(#000, $neutral-color, 30.4%));
$font-weight: dynamic(300);
$font-weight-bold: dynamic(400);
$font-family: dynamic('Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif);

// text color
$color: dynamic(#404040);
// lighter text color for use on light backgrounds
$highlight-color: dynamic(#606060);
// light text color for use on dark backgrounds
$light-color: dynamic(#f0f0f0);
$enable-font-icons: dynamic(true);
// facebook btn config to be used in ext\classic\theme-triton\sass\src\Component.scss
$social-facebook-btn-background:  #167abc;