.#{$prefix}toast {
	@include box-shadow(rgba(0,0,0,0.5) 0 2px 2px);
}

.#{$prefix}toast-error {
    padding: 5px 5px 5px 5px;
    background-color: rgba(242, 164, 172, 0.082) ;
    border: 1px solid rgba(242, 164, 172, 0.253) ;
}

.#{$prefix}toast-success {
    padding: 5px 5px 5px 5px;
    background-color: rgba(140, 219, 129, 0.178);
    border: 1px solid rgba(140, 219, 129, 0.278);;
}

.#{$prefix}toast-info {
    padding: 5px 5px 5px 5px;
    background-color: rgba(129, 218, 234, 0.145);
    border: 1px solid rgba(129, 218, 234, 0.245);;
}
