$ext-font-path: get-resource-path('fonts');

//# fashion -inline
@font-face {
	font-family: 'ExtJS';
	//# fashion +inline:eot
  	//# fashion +inline:ttf
	src:url('#{$ext-font-path}/ExtJS.eot?-tqegh9');
	src:url('#{$ext-font-path}/ExtJS.eot?#iefix-tqegh9') format('embedded-opentype'),
		url('#{$ext-font-path}/ExtJS.ttf?-tqegh9') format('truetype'),
		url('#{$ext-font-path}/ExtJS.woff?-tqegh9') format('woff'),
		url('#{$ext-font-path}/ExtJS.svg?-tqegh9#ExtJS') format('svg');
	font-weight: normal;
	font-style: normal;
}

.ext {
	font-family: ExtJS;
}

.ext-sencha:before {
	content: "\e61e" !important;
}
.ext-checkbox-checked:before {
	content: "\e613" !important;
}
.ext-checkbox-unchecked:before {
	content: "\e614" !important;
}
.ext-chevron-left:before {
	content: "\e615" !important;
}
.ext-chevron-right:before {
	content: "\e616" !important;
}
.ext-double-chevron-left:before {
	content: "\e617" !important;
}
.ext-double-chevron-right:before {
	content: "\e618" !important;
}
.ext-sort-down:before {
	content: "\e619" !important;
}
.ext-sort-up:before {
	content: "\e61a" !important;
}
.ext-spinner-down:before {
	content: "\e61b" !important;
}
.ext-spinner-up:before {
	content: "\e61c" !important;
}
.ext-square-edit:before {
	content: "\e61d" !important;
}
.ext-equals-vertical:before {
	content: "\e612" !important;
}
.ext-collapse:before {
	content: "\e600" !important;
}
.ext-columns:before {
	content: "\e601" !important;
}
.ext-dirty:before {
	content: "\e602" !important;
}
.ext-dirty-rtl:before {
	content: "\e603" !important;
}
.ext-edit-html:before {
	content: "\e604" !important;
}
.ext-equals:before {
	content: "\e605" !important;
}
.ext-expand:before {
	content: "\e606" !important;
}
.ext-group-by:before {
	content: "\e607" !important;
}
.ext-minimize:before {
	content: "\e608" !important;
}
.ext-nw-handle:before {
	content: "\e609" !important;
}
.ext-ne-handle:before {
	content: "\e60a" !important;
}
.ext-sw-handle:before {
	content: "\e60b" !important;
}
.ext-se-handle:before {
	content: "\e60c" !important;
}
.ext-text-background-color:before {
	content: "\e60d" !important;
}
.ext-text-color:before {
	content: "\e60e" !important;
}
.ext-text-decrease:before {
	content: "\e60f" !important;
}
.ext-text-increase:before {
	content: "\e610" !important;
}
.ext-unpin:before {
	content: "\e611" !important;
}
