/*
 * This file defines variables used throughout the application for modern and
 * classic builds.
 */
$font-size: dynamic(14px);
$panel-navigation-background-color: #32404e;
$panel-navigation-item-line-height: 64px;
$panel-navigation-item-text-color: #ADB3B8;

$progress-bar-background-color: #458fd2;

//Form and Toolbar Button UI colors

$color-blue: #167abc;
$color-soft-cyan: #03b4d5;
$color-soft-blue: #2eadf5;
$color-soft-green: #9cc96b;
$color-soft-orange: #ffc107;
$color-soft-red: #e44959;
$color-soft-purple: #925e8b;
$color-gray: #949495;
$color-green: #16b603;

$chart-icon-background-color: #f1f1f1;

$grid-item-edit-btn-color: #e9e9e9;
$grid-item-close-btn-color: #fc8999;
$grid-item-ban-btn-color: #ffc000;
$legend-research: #6aa5db;
$legend-marketing: #ee929c;

$force-background-color: #56B750;

//----------------------------------------------------
// Wizards

$wizard-primary-background-color: #579ddb;
$wizard-button-background-color: #579ddb;

$wizard-two-primary-background-color: #986291;
$wizard-two-button-background-color: #925e8b;

$wizard-three-primary-background-color: #9cc96b;
$wizard-three-button-background-color: #9cc96b;

$flag-icon-css-path: './flags' !default;
$flag-icon-rect-path: '/4x3' !default;
$flag-icon-square-path: '/1x1' !default;

// UserProfileBase variables
$circle-border-radius:50%;
$base-border-color: #ddd;
$lightest-color:#fff;
$font-weight: 400;
$font-weight-bold: 500;

$accordion-header-background-color: $lightest-color;
$accordion-header-color: #333;

$social-facebook-btn-background: #167abc;
$social-twitter-btn-background: #03b4d5;
$social-google-plus-btn-background: #e44959;
$social-envelope-btn-background: #7754aa; 

$like-comment-btn-background-color: #f4f4f4;
$like-comment-btn-color: #979797;
$article-comment-color: #eee;

$button-small-font-size: $font-size; // 	TO DO

$form-label-font-color: #797878;

@import '../src/flag-icon';
@import '../src/Details';
@import '../src/Email';
@import '../src/Inbox';
@import '../src/Main';
@import '../src/Results';
@import '../src/SpecialOffer';
@import '../src/UserProfileBase';
@import '../src/Weather';

@import '../src/Button';
@import '../src/Button_large';
@import '../src/Button_medium';
@import '../src/Button_small';

@import '../src/Wizards';

@import '../src/Error404Window.scss';
@import '../src/Dashboard.scss';
